.virtualenv/
.idea/

*.csv
.stock_price.csv.swp
stock_price.csv
__pycache__/config.cpython-36.pyc
gaped_up_stocks/
__pycache__/
*.output
!gaped_up_stocks_early_volume_1e5_gap_10_statistics.csv
alpaca_paper_trade_cache.json
alpaca_paper_trade_bar.txt
alpaca_paper_trade_event_state.json
alpaca_paper_trade_quote.txt
datas/temp_add_column_name.py

downloaders/polygon_tick_by_tick_downloader_state.json
experiment_simple_trade/analytics/backtrader_state_analysis.json
experiment_simple_trade/analytics/backtrader_state_analysis.json
experiment_simple_trade/state.json
experiment_simple_trade/state_polygon_01_01_minute_chart_bars.json
experiment_simple_trade/state_polygon_01_03_high.json
experiment_simple_trade/state_polygon_01_03_high_between_ema_and_vwap.json
experiment_simple_trade/state_polygon_01_03_high_rsi.json
experiment_simple_trade/state_polygon_01_03_minute_chart_bars.json
segmenters/early_day_gap_segmenter_parallel/early_day_gap_segmenter_parallel_state.json
segmenters/early_day_gap_segmenter_parallel/temp_analyzing_segmenter_console_output.py
